{% extends "v1/layouts/layout.html" %}


{% block filters %}
  {% include "v1/partials/filters.html" %}
{% endblock %}


{% block advanced_filters %}
  {% include "v1/partials/relationship-filters.html" %}
{% endblock %}


{% block visualization_block %}
  <div class="col s12 m12 l12" style="margin-bottom: 10px;">
    <div id="options-panel" class="left">
      {% include "v1/partials/scope-7-export-options.html" %}
      {% include "v1/partials/social_networks.html" %}        
    </div>

    <div class="right">
      <!--a id="info-trigger" class="scielo-blue-text right">
        <i class="fa fa-question-circle" aria-hidden="true" style="font-size: 1.3em"></i>
      </a-->
    </div>    
  </div>

  <div class="col s12 m12 l12">
    <div id="visualization-area">
      <!-- MAP -->
      <div id="map-container">
        <div id="map-info" class="scielo-blue lighten-5 info-container">
          {{ gettext("The visualization shows the coauthor relationships between authors of documents.
                      When the mouse is hovering over the country, links between countries appear. These links represents coauthor relationships between authors of the selected country and authors of the other countries.") }}
        </div>
        <div id="world-map" class="d3plus_container">
          <!--<div id="world_legend"></div>-->
        </div>
      </div>

      <!-- Networks -->
      <div id="network-c-container" class="network-show-hide">
        <div id="network-c-info" class="scielo-blue lighten-5 info-container">
          {{ gettext("The visualization shows the coauthor relationships between authors of documents.") }}
        </div> 
        <input type="hidden" class="d3plus-network-status" value="0">
        <div id="circular-layout" class="d3plus-container-xl"></div>
      </div>

      <div id="network-s-container" class="network-show-hide">
        <div id="network-c-info" class="scielo-blue lighten-5 info-container">
          {{ gettext("The visualization shows the coauthor relationships between authors of documents.") }}
        </div> 
        <input type="hidden" class="d3plus-network-status" value="0">
        <div id="force-direct-layout" class="d3plus-container-xl"></div>
      </div>
    </div>

    <!-- TABLEs -->
    <div id="table-container" style="display: none;">
      <table id="dataTable1">
        <thead>
          <td></td>
          <th>{{ gettext("Country") }}</th>
          <th>{{ gettext("Provided number of co-author relationships") }}</th>
          <th>{{ gettext("Co-authors from </th>    ") }}     
        </thead>
        <tbody>
          {% for country, rel in data_map[1].items() %}         
            <tr>
              <td><img src="/static/img/flags/{{country.lower()}}.gif"></td>              
              <td>{{ country }}</td>
              <td>{{ rel }}</td>
              <td> <!-- Principales --> 
                {% for prin in data_map[0][country] %}
                  <img src="/static/img/flags/{{prin.lower()}}.gif">
                {% endfor %}
              </td>   
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}


{% block js_footer %}
  {% include "v1/partials/scope-tab-vis.js" %}
  {% include "v1/partials/filters-3.js" %}
  <script type="text/javascript">
     initalize_filters();
    //Renderizamos jsons
    data_network = {{ data_network|tojson }};
    coauthor = {{ data_map|tojson }};
    visualization = "{{ filters.visualization|safe }}"

    console.log(data_network)
    
    var generated_map = false;
    var generated_network_c = false;
    var generated_network_s = false;

    change_visualization(visualization);
    function change_visualization(option){
      $("#map-container").hide();
      $("#network-c-container").hide();
      $("#network-s-container").hide();
      $("#info-trigger").hide();
      $("#info-trigger").mouseover('');
      $("#info-trigger").mouseout('');
      /*Map
      ----------------------------------------------------------*/
      if(option == "map"){
        $("#map-container").show();
        $("#info-trigger").show();
        $("#info-trigger").mouseover( function(){$('#map-info').show()});
        $("#info-trigger").mouseout(function(){$('#map-info').hide()});
        if(!generated_map){
          var map = world_map(3, []);
          coauthor_network(map, coauthor);
          generated_map = true;
        }
      }

      /*Network Circular
      ----------------------------------------------------------*/
      if(option == "circular layout"){
        $("#network-c-container").show();
        $("#info-trigger").show();
        $("#info-trigger").mouseover( function(){$('#network-c-info').show()});
        $("#info-trigger").mouseout(function(){$('#network-c-info').hide()});
        if(!generated_network_c){
          network("#circular-layout", data_network["data"], data_network["connections"], data_network["circular_layout"]);
          generated_network_c = true;
        }
      }

      if(option == "force-direct layout"){
        $("#network-s-container").show();
        $("#info-trigger").show();
        $("#info-trigger").mouseover( function(){$('#network-s-info').show()});
        $("#info-trigger").mouseout(function(){$('#network-s-info').hide()});
        if(!generated_network_s){
          network("#force-direct-layout", data_network["data"], data_network["connections"], data_network["spring_layout"]);
          generated_network_s = true;
        }
      }

      /*Table
      ----------------------------------------------------------*/
      if(option == "table"){
        $("#table-container").show();
      }
    }
    
    //Network
    function network(container_id, data,connections,positions){
      var visualization = d3plus.viz()
      .container(container_id)  
      .type("network")    
      .data(data)  
      .nodes(positions)   
      .edges(connections) 
      .size("degree")       
      .id("name")
      .format(D3PLUS_LANG)        
      .draw()
    }

    //Modal
    $('.modal').modal();
  </script>
{% endblock %}