{% extends "v1/layouts/layout_index.html" %}

{% block filters %}
  {% include "v1/partials/filters-index.html" %}
{% endblock %}

{% block visualization_block %}
	<div class="visualizations-area">
    <div class="col s4" style="padding-left: 0;">
      <div class="card card-index scielo-blue darken-2">
        <div class="card-content white-text">
          <div class="col s5">
              <img id="logo-index" src="{{ url_for('static', filename='img/scielo-logo.png') }}">
          </div>
          <div class="col s7">
            <h4>
              <b>Analytics</b><br><small>Visualizations</small>
            </h4>
          </div>
          <div class="col s12">
            <p class="margin-bottom-20">
            </p>
            <p class="margin-bottom-20">
              {{ gettext("<b>Analytics Visualizations</b> is a powerful visualization tool for SciELO network.") }}
            </p>
            <p class="margin-bottom-20">
              {{ gettext("Through a series of visualizations, you will be able to navigate and interact with this data analyzing the distribution of documents, journals or relations of authorship in this scientific bookstore.") }}
            </p>
            <p class="margin-bottom-20">
              {{ gettext("Explore the different options!") }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col s8">
      <section id="index-slider" class="slider">
        <center class="slider-item">
          <div id="map-container">
            <div id="map" class="d3plus_container">
            </div>
          </div>
        </center>
        <center class="slider-item">
          <!-- TREEMAPS -->
          <div id="treemaps-container">
            <div id="treemap" class="treemap"></div>
          </div>
        </center>
        <center class="slider-item">
          <img class="img-slider" src="{{ url_for('static', filename='img/slider-1.jpeg') }}">
        </center>
      </section>      
    </div>
  </div>
{% endblock %}

{% block js_footer %}
  {% include "v1/partials/scope-tab-vis-index.js" %}
  <script type="text/javascript">
    data = {{ data|tojson }}
    //Dibujamos Mapa Default
    var map = d3plus.viz()
                    .container("#map")
                    .data(data)
                    .coords({"projection": "equirectangular", "value": "/static/v1/js/d3plus.v1.9.8/countries.json", "mute":["anata"]})
                    .type("geo_map")
                    .id("country-code")
                    .text("country-name")
                    .color("documents")
                    .tooltip(["documents", "journals"])
                    .ui([ 
                           { 
                             "method" : "color",
                             "value"  : [ "documents" , "journals" ]
                           }
                    ])
                    .draw();

    var treemap = d3plus.viz()
                        .container("#treemap")
                        .data(data)
                        .type("tree_map")
                        .id(["country-name"])
                        .size("documents")
                        .labels({"align": "left", "valign": "top"})
                        .format(D3PLUS_LANG)
                        .ui([ 
                               { 
                                 "method" : "size",
                                 "value"  : [ "documents" , "journals" ]
                               }

                        ])
                        .tooltip(["documents", "journals"])
                        .draw();

    $(document).ready(function() {
      $('#index-slider').slick({
        dots: true,
        infinite: true,
        arrows: true
      });

      //Adaptar alturas
      d3plus_height = Math.max($('#map').height(), $('#treemap').height());
      if($('#map').height()<d3plus_height){
        $('#map').css('margin-top', (d3plus_height-$('#map').height())/2);
      }else{
        $('#treemap').css('margin-top', (d3plus_height-$('#treemap').height())/2);
      }
      $('#index-slider').height(d3plus_height);
      $('.img-slider').height(d3plus_height);
      $('.card-index').css('min-height', d3plus_height+30 );
    });
  </script>
{% endblock %}