<!DOCTYPE html>
  <html>
    <head>
      <title>Analytics - SciELO</title>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      {% include "facebook-og.html" %}
      <!-- Favicon -->
      <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
      <!--Import Google Icon Font-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}"  media="screen,projection"/>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='v1/plugins/materialize-0.99/css/materialize.min.css') }}"  media="screen,projection"/>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/scielo-color.css') }}">
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='v1/css/bibliometrics.v1.css') }}">
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">    
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/slick-theme.css') }}">       
     


      <!-- JQuery -->
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery-ui-1.12.0.custom/jquery-ui.min.js') }}"></script>
      <!-- Materialize -->
      <script type="text/javascript" src="{{ url_for('static', filename='v1/plugins/materialize-0.99/js/materialize.min.js') }}"></script>
      <!-- D3 -->
      <script src="{{ url_for('static', filename='v1/js/d3plus.v1.9.8/js/d3.min.js') }}"></script>
      <script src="{{ url_for('static', filename='v1/js/d3plus.v1.9.8/js/d3plus.min.js') }}"></script>

      <!-- MAPS -->
      <script src="{{ url_for('static', filename='v1/js/d3plus.v1.9.8/js/topojson.min.js') }}"></script>

      <!-- SLIDER -->
      <script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>

    </head>

    <body>
      <div id="header-block">
        <!-- HEADER -->
        <header class="scielo-blue">
          <div class="row">
            <a href="/v1">
              <div class="col s2 m1">
                <img id="header-logo" src="{{ url_for('static', filename='img/scielo-logo.png') }}">  
              </div>
              <div class="col s7 m9">
                <div id="header-box" class="white-text">
                  <h4>Analytics <i style="font-size: 0.5em;"> Visualizations</i></h4>
                </div>  
              </div>
            </a>
            <div class="col s3 m2">
              <center>
                <small style="color: white;">{{gettext("Language")}}</small><br>
                <a href="/v1?lang=pt"><img src="/static/img/flags/bra.gif"></a>
                <a href="/v1?lang=es"><img src="/static/img/flags/esp.gif"></a>
                <a href="/v1?lang=en"><img src="/static/img/flags/gbr.gif"></a>
              </center>
            </div>
          </div>
        </header>
        <!-- END HEADER -->
        <!-- FILTERS -->
        {% block filters %}{% endblock %}
        <!-- END FILTERS -->
      </div>
      <!-- END HEADER BLOCK -->


      <div id="body-container">
        <!-- CONTENT -->
        <div id="content-container">
          <div class="visualization-container">
            <!-- Area Dibujo -->
            <div class="row">
              <div class="col s12 m12 l12">
          		  {% block visualization_block %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
        <!-- END CONTENT -->
      </div>
      
      <br>
      <div id="pre-footer" class="scielo-blue lighten-2"></div>
      <footer class="scielo-blue darken-3">
        <div class="row">
          <div class="col s4 m4 l4">
          </div>

          <div class="col s4 m4 l4">
            <center>
              <a href="http://www.net-works.cl" target="_blank"><img src="{{ url_for('static', filename='img/mini_logo.png') }}" width="60"></a>
              <p id="copy-text">Copyright © 2016. All rights reserved.</p>
            </center>
          </div>
          
          <div class="col s4 m4 l4">
            <div class="right">
              <center id="copy-text">Optimized for</center>
              <p>
                <span style="font-size: 1.5em;"><i class="fa fa-chrome" aria-hidden="true" title="Google Chrome"></i></span>
                <span style="font-size: 1.5em;"><i class="fa fa-firefox" aria-hidden="true" title="Mozilla Firefox"></i></span>
                <span style="font-size: 1.5em;"><i class="fa fa-opera" aria-hidden="true" title="Opera"></i></span>
                <span style="font-size: 1.5em;"><i class="fa fa-edge" aria-hidden="true" title="Microsoft Edge"></i></span>
              </p>
            </div>
          </div>
        </div>
      </footer>
   
      <!-- Local Storage -->
      <script type="text/javascript" src="{{ url_for('static', filename='v1/js/bibliometrics.history.js') }}"></script>
      <!-- Filtros -->
      <script type="text/javascript" src="{{ url_for('static', filename='v1/jsons/scopeAndTabulations.v1.json') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='v1/jsons/filters.v1.json') }}"></script>
      <!-- Funciones Graficar -->
      <script type="text/javascript" src="{{ url_for('static', filename='v1/js/bibliometrics.printsvg.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='v1/js/bibliometrics.maps.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='v1/js/bibliometrics.blockui.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='v1/js/bibliometrics.help.js') }}"></script>

      <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select
        });


        // FLASH
        {% with notice = get_flashed_messages(category_filter=["notice"]) %}
          {% if notice %}
            {%- for msg in notice %}
              Materialize.toast("Notice: {{ msg }}", 3000, 'green') // 4000 is the duration of the toast
            {% endfor -%}
          {% endif %}
        {% endwith %}
        {% with error = get_flashed_messages(category_filter=["error"]) %}
          {% if error %}
            {%- for msg in error %}
              Materialize.toast("Notice: {{ msg }}", 3000, 'red') // 4000 is the duration of the toast
            {% endfor -%}
          {% endif %}
        {% endwith %}
        {% with warning = get_flashed_messages(category_filter=["warning"]) %}
          {% if warning %}
            {%- for msg in warning %}
              Materialize.toast("Notice: {{ msg }}", 3000, 'yellow') // 4000 is the duration of the toast
            {% endfor -%}
          {% endif %}
        {% endwith %}
      </script>

      <!-- JS Especificos vistas -->
      {% block js_footer %}{% endblock %}
    
    </body>
  </html>