<form id="filters-form" method=post>
  <div id="filters-container">
    <!-- FILTERS PANEL -->
    <div id="filter-panel">
      <input type="hidden" id="filters-form-uhid" name="uhid">
      <input type="hidden" id="filters-form-lang" name="lang" value="{{ session['lang'] }}">
      <input type="hidden" id="filters-form-url" name="url" value="">
      <div class="row margin-0">
        <div class="col s3">
          <div class="input-field">
            <select id="scope-select" name="scope"></select>
            <label>{{ gettext("Scope") }}</label>
          </div>
        </div>
        <div class="col s5">
          <div class="input-field">
            <select id="scope-tabulations-select" name="tabulation"></select>
            <label>{{ gettext("Tabulation") }}</label>
          </div>
        </div>
        <div class="col s3">
          <div class="input-field">
            <select id="scope-tabulation-visualizations-select" name="visualization"></select>
            <label id="vis-label" class="parpadea">{{ gettext("Visualization") }}</label>
          </div>
        </div>
        <div id="fp-btns" class="col s1">
          <button id="visulize-btn" type="submit" class="btn btn-pp scielo-blue waves-effect waves-light tooltipped disabled" data-position="top" disabled="disabled" data-tooltip="{{ gettext('Visualize') }}" onclick="save_to_history('#filters-form');"><i class="fa fa-search" aria-hidden="true"></i></button><br>
        </div>
      </div>
    </div>
  </div>
</form>


<script type="text/javascript">
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
</script>