<!-- Dropdown Trigger -->
<a id="export-option-btn" class='dropdown-button scielo-blue-text' href='#' data-activates='export-options-dropdown' title="Export Options"><i class="fa fa-bars" aria-hidden="true" style="font-size: 1.3em"></i></a>
<!-- Dropdown Structure -->
<ul id='export-options-dropdown' class='dropdown-content'>
  <li class="print-export-option">
		<a onclick="printSVG('#visualization-area')">Print</a>
	</li>
  <li class="image-export-option hide-for-map">
  	<a id="eo-png" onclick="export_visualization('#circular-layout svg', 'png');">Export as PNG image</a>
  </li>
  <li class="image-export-option hide-for-map">
  	<a id="eo-jpeg" onclick="export_visualization('#circular-layout svg', 'jpeg');">Export as JPEG image</a>
  </li>
  <li class="image-export-option">
  	<a id="eo-svg" onclick="export_visualization('#circular-layout svg', 'svg');">Export as SVG vector image</a>
  </li>
  <li class="image-export-option hide-for-map">
  	<a id="eo-ppt" onclick="export_visualization('#circular-layout svg', 'pptx');">Export as PPT Slide</a>
  </li>
  <li class="pdf-export-option hide-for-map">
  	<a id="eo-pdf" onclick="export_visualization('#circular-layout svg', 'pdf');">Export as PDF file</a>
  </li>
</ul>
<canvas id="exporter-canvas" style="display: none;"></canvas>