{% extends "v1/layouts/layout_errors.html" %}

{% block visualization_block %}
	<div class="visualizations-area">
		<div class="col s3 offset-s2">
			<img src="{{ url_for('static', filename='img/scielo-logo.png') }}" width="250">
		</div>
    <div class="col s7">
	      <h3 class="grey-text text-darken-3">Error 404</h3>
	      <p class="grey-text text-darken-2">{{ gettext("The page you are looking for does not exist.") }}</p>
	      <p>
	      	<a href="/v1" class="btn scielo-blue">{{ gettext("Home") }}</a>
	      </p>
    </div>
  </div>
{% endblock %}