{% extends "v1/layouts/layout_errors.html" %}

{% block visualization_block %}
  <div class="visualizations-area">
    <div class="col s3 offset-s2">
      <img src="{{ url_for('static', filename='img/scielo-logo.png') }}" width="250">
    </div>
    <div class="col s7">
        <h3 class="grey-text text-darken-3">Error 502</h3>
        <p class="grey-text text-darken-2">{{ gettext("Sorry...") }}</p>
        <p class="grey-text text-darken-2">{{ gettext("Your request was canceled because it took too long to complete.") }}</p>
        <p class="grey-text text-darken-2">{{ gettext("Please try again in a few minutes with a different filter configuration.") }}</p>
        <p>
          <a href="/v1" class="btn scielo-blue">{{ gettext("Home") }}</a>
          <a class="btn scielo-blue" onclick="back_to_historiy_saved();" class="left">Last Visualization</a>
        </p>
    </div>
  </div>
{% endblock %}