<!-- Facebook -->
<meta property="og:app_id"      content="SciELO Analytics" />
<meta property="og:url"         content="{{ url_for('v1_indexController.index', _external=True) }}" />
<meta property="og:type"        content="article" />
<meta property="og:title"       content="SciELO Analytics" />
<meta property="og:description" content="{{ gettext('Analytics Visualizations is a powerful visualization tool for SciELO network.') }}" />
<meta property="og:image"       content="{{ url_for('static', filename='img/facebook-og-default.jpg', _external=True) }}" />