body {
}

.js-loading-overlay {
  background-color: rgba(0,0,0,.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


a{
  cursor: pointer;
}

#header-block{
  top: 0;
  width: 100%;
  z-index: 1000;
  position: fixed;
}

header{
  /*background-color: #3367D6;*/
  width: 100%;
  height: 54px;
  padding: 3px;
  /*border-bottom: solid 5px #4db6ac;*/
}

#header-box{
  margin-top: -10px;
}

#header-logo{
  height: 45px;
  padding: 3px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

#filter-panel-row{
  max-height: 90px;
}

#filters-form{
  margin-bottom: 0px;
}

#filters-container{
  background-color: #eceff1;
}

#year-inputs{
  height: 250px;
  overflow-y: scroll; 
}


#body-container{
  margin-top: 160px; 
  min-height: 70vh;
}

#body-container2{
  margin-top: 50px; 
  min-height: 70vh;
}

#world_legend{
  position: absolute;
  right: 0;
  bottom: 0;
}

#pre-footer{
  height: 10px;
}
footer{
  min-height: 10vh;
  padding-top: 5vh;
  padding-bottom: 2vh;
  background-color:#263238;
  color: #fff;  
}

#developed_by{
  text-align: center;
}

#copy-text{
  font-size: 0.7em;
  color: white;
}

.filters{
  margin-left: 15%;
  margin-right: 15%;  
}

.no-shadow{
  box-shadow: none;  
  border: none;
}

#graph-container{
  display: none;
}


.select-dropdown .active{
  color: black;
}


/*Sobreescribir Tabs*/
.tabs .tab a {
  color: #263238;
  display: block;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
}

.tabs .tab a:hover {
  color: #37474f;
}

.tabs .tab.disabled a {
  color: #37474f;
  cursor: default;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #455a64;
  will-change: left, right;
}

/*Tabs 2do nivel*/
.tabs-2do-nivel .tab a {
  color: #455a64;
  display: block;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
}

.tabs-2do-nivel .tab a:hover {
  color: #546e7a;
}

.tabs-2do-nivel .tab.disabled a {
  color: #546e7a;
  cursor: default;
}

.tabs-2do-nivel .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #607d8b;
  will-change: left, right;
}

/*Visualization's Containers*/
.d3plus-container{
  width: 100%;
  height: 50vh;
}
.d3plus-container-xl{
  width: 100%;
  height: 90vh;
}
.treemap{
  height: 50vh;
}

/*------------------------------------------------------------*/
blockquote{
  border-left: 8px solid #b39ddb;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 1em;
    color: #673ab7;
    display: block;
    line-height: 22px;
    padding: 6px 6px;
}

.checkbox-deep-purple[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #7e57c2;
     background-color: #7e57c2;
}

.visualizations-area{
  min-height: 450px;
}

.visualization-container{
  min-height: 75vh;
}

.scope-and-description{
	overflow-y: auto;
}

.visualization-filters-block{
	position: absolute;
	top: 50%;
	right: 5px;
	background-color: #9575cd;
}


.parpadea{
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

#no-local-storage-card{
  display: none;
  margin-top: 120px;
}

.cc-chevron, .jc-chevron, .lc-chevron,
.yc-chevron, .tac-chevron, .wtac-chevron,
.lwta-chevron, .dtc-chevron, .span-chevron {
  cursor: pointer;
}

#menu-buttons-filters{
  z-index: 100;
}

/*Selected Filters*/
.collection-2 {
    margin: 0.2rem 0 0.2rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden !important;
    position: relative;
    padding: 5px 10px 30px 10px;
    min-height: 55px;
    height: 55px;
}
.collection-2.special-height{
    height: 90px;
}
.collection-2 input[type=number]:not(.browser-default) {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 5px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
.collection-2 #max-range-text{
  font-size: 0.8em;
}

.collection-2.special-overflow{
    overflow: visible !important;
}
.collection-2 .collection-2-title{
    font-size: 0.85em;
}
.collection-2 .collection-item-2{
    background-color: #fff;
    padding: 0 3px 0px 20px;
    border: none;
    margin: 0;
    font-size: 0.85em;
}
.collection-2 .collection-2-expand-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    background: rgba(241, 241, 241, 0.75);
}


.operation-text{
  font-size: 0.7em;
}
.item-separator{
    background-color: #fff;
    font-size: 0.8em;
    padding: 0 20px;
    border: none;
    margin: 0;
    color: #673ab7;

}
.item-operation{
    background-color: #fff;
    font-size: 0.7em;
    margin: 0;
}

/*
.info-container{
  display: none;
  position: absolute;
  width: 73.21%;
  z-index: 2;
  margin-top: .5px;
}
*/
.info-container {
  padding: 20px;
  margin: 0 0 0.5rem 0;
  border-radius: 2px;
}


/*SWITCH*/
.switch label input[type=checkbox]:checked+.lever {
    background-color: #9575cd;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #7e57c2;
    left: 24px;
}

.d3plus_tooltip_container{
  z-index: 1;
}

#d3plus_tooltip_id_visualization_focus{
  z-index: 0 !important;
}

#export-options-dropdown{
  min-width: 205px !important;
}

.checkbox-all-modal{
  padding: 8px 10px;
}

#user-history-id-container{
  margin-top: 5px;
}

#user-history-id{
  padding: 5px;
  color: #fff !important;
}

#search-history-btn{
  margin-top: -20px;
}

#current-visualization-info{
  border-right: solid 1px #e0e0e0;
  cursor: pointer;
}
#current-visualization-details{
  background-color: #eceff1;
  height: 65vh;
  overflow-y: scroll;
  margin-top: -45px;
  position: absolute;
  z-index: 9999;
  left: 0;
  width: 25%;
  padding: 10px 7px 20px 10px;
}
.collection-3 {
  margin: 0.2rem 0 0.2rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden !important;
  position: relative;
  padding: 5px 10px;
}
.collection-3 .collection-item-3{
  background-color: #eceff1;
  padding: 0 3px 0px 20px;
  border: none;
  margin: 0;
  font-size: 1em;
}

.btn-mf{
  padding: 0 0.5rem;
}

.btn-mf-filter{
  width: 28%;
}

.btn-mf-option{
  width: 13%;
}

.btn-block{
  width: 100%;
}

.btn-pp{
  padding: 0 1rem;
}

.total-badges{
  margin-right: 5px;
}

.badge2{
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
  padding: 0px 5px;
}

.total-docs, .total-journals {
    background: #039BE5;
    font-size: 0.8em;
    border-radius: 3px;
    padding: 5px;
    color: #ffffff;
    margin-bottom: 5px;
    margin-left: 5px;
}

.input-field {
    position: relative;
    margin-top: 0.5rem;
}

.dtd-all-checkbox{
  margin-right: 20px;
  padding-left: 25px !important;
}


#fp-btns {
  padding-top: 18px;
}


/* ---- */

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;  
  border-bottom: 15px solid  #7D9AD9 !important;
  margin: auto;
  margin-bottom: 0;
}

.card-panel.help-panel{
  margin: 0 0 1rem 0;
  padding: 5px;
}

.card-panel.help-panel h3{
  font-size: 2.92rem;
    line-height: 110%;
    margin: 1rem 0 1.168rem 0;
}

/*
#help-scope,
#help-tab,
#help-viz,
#help-icon-cancel {
  display: none;
}
*/

#help-icon {
  display: none;
}

#help-btn {
  margin-top: 15px;
  margin-bottom: 10px;
}

.help-color,
.help-color,
.help-color:hover,
.help-color:active,
.help-color:visited,
.help-color:link {
  background-color: #6789D3;
}

.help-color-text{
  color: #6789D3;
}
.help-text{
  text-align: justify;
  font-size: 0.85em;
}


.slick-slide {
    outline: none !important;
}

.slider-item{
  width: 95%;
}

.card-index {
  min-height: 500px;
  margin: 0;
}

.margin-bottom-20{
  margin-bottom: 20px !important;
}

#logo-index{
  height: 100px;
  background-color: white;
  border-radius: 50%;
}

.margin-0 {
  margin: 0 !important;
}