.scielo-blue {
  background-color: #6789D3 !important;
}

.scielo-blue-text {
  color: #6789D3 !important;
}

.scielo-blue.lighten-5 {
  background-color: #D9E1F4 !important;
}

.scielo-blue-text.text-lighten-5 {
  color: #D9E1F4 !important;
}

.scielo-blue.lighten-4 {
  background-color: #C2D0ED !important;
}

.scielo-blue-text.text-lighten-4 {
  color: #C2D0ED !important;
}

.scielo-blue.lighten-3 {
  background-color: #ABBEE7 !important;
}

.scielo-blue-text.text-lighten-3 {
  color: #ABBEE7 !important;
}

.scielo-blue.lighten-2 {
  background-color: #94ACE0 !important;
}

.scielo-blue-text.text-lighten-2 {
  color: #94ACE0 !important;
}

.scielo-blue.lighten-1 {
  background-color: #7D9AD9 !important;
}

.scielo-blue-text.text-lighten-1 {
  color: #7D9AD9 !important;
}

.scielo-blue.darken-1 {
  background-color: #5a79bb !important;
}

.scielo-blue-text.text-darken-1 {
  color: #5a79bb !important;
}

.scielo-blue.darken-2 {
  background-color: #4f6aa5 !important;
}

.scielo-blue-text.text-darken-2 {
  color: #4f6aa5 !important;
}

.scielo-blue.darken-3 {
  background-color: #4a6296 !important;
}

.scielo-blue-text.text-darken-3 {
  color: #4a6296 !important;
}

.scielo-blue.darken-4 {
  background-color: #445986 !important;
}

.scielo-blue-text.text-darken-4 {
  color: #445986 !important;
}

.scielo-blue.accent-1 {
  background-color: #b388ff !important;
}

.scielo-blue-text.text-accent-1 {
  color: #b388ff !important;
}

.scielo-blue.accent-2 {
  background-color: #7c4dff !important;
}

.scielo-blue-text.text-accent-2 {
  color: #7c4dff !important;
}

.scielo-blue.accent-3 {
  background-color: #651fff !important;
}

.scielo-blue-text.text-accent-3 {
  color: #651fff !important;
}

.scielo-blue.accent-4 {
  background-color: #6200ea !important;
}

.scielo-blue-text.text-accent-4 {
  color: #6200ea !important;
}