{% extends "layouts/layout.html" %}

{% block filters %}
	{% include "partials/filters2.html" %}
{% endblock %}

{% block visualization_block %}
  <div id="d3-container" class="container">
  	<div class="col s12 m12 l12">
  		<div id="world"></div>
  	</div>
  </div>
{% endblock %}

{% block js_footer %}
	{% include "partials/filters2Gaston.js" %}
	<script type="text/javascript">
		data = {{ data|tojson }}
		console.log(data);
		var map = world_map(4, data);
	</script>
{% endblock loca